@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  scroll-behavior: smooth !important;
}
.blur{
  background: #3838381f;
  backdrop-filter: blur(10px);
}
.black{
  background: #000000a1;
  width: 100vw;
  height: 100vh;
}
body{
  overflow-x: hidden !important;
  background: #111 !important;
}
.bgs{
  background-image: radial-gradient(#00000053,#000);
  /* background: #000 !important; */
}
.bgss{
  background-image: radial-gradient(#000000df,#000);
  /* background: #000 !important; */
}
/* .bb{
  
  background: #000000a1 !important;
} */